{{#if isFormShowing}}
<form role="form">
  <div class="form-group">
    <label for="title">Title</label>
    {{input value=title id="title" class="form-control col-md-4"}}
  </div>
  <div class="form-group">
    <label for="user">User</label>
    {{input value=user id="user" class="form-control col-md-4"}}
  </div>
  <div class="form-group">
    <label for="body">Question</label>
    {{textarea value=body id="body" class="form-control col-md-6"}}
  </div>
  <div class="form-group">
    <label for="notes">Notes</label>
    {{input value=notes id="notes" class="form-control col-md-4"}}
  </div>
  <br>
  <button {{action "editQuestion" question}} class="btn">Edit Question</button>
</form>
{{else}}
<a {{action 'showForm'}}>Edit</a>
{{/if}}
