<div class="question container">
  <h2 class="question-title">{{model.title}}</h2>
  <p class="author-credit">
    Asked by: {{model.user}} -- {{edit-question question=model editQuestion="editQuestion"}}
  </p>
  <br>

  <div class="container col-md-9 question-body">
    <p class="question-body">
      {{model.body}}
    </p>
  </div>
  <br>
  <div class="row col-md-9">
    <p>
      Additional Notes: {{model.notes}} <a {{action 'deleteQuestion' model}}>Delete Question</a>
    </p>
    {{new-answer question=model saveAnswer="saveAnswer"}}
  </div>
    <div class="row col-md-9">
      <h4>Answers:</h4>
      {{#each model.answers as |answer|}}
      <div class="row col-md-9">
        <p>
          {{answer.body}}
        </p>
        <p>
          <em>Answered by:</em> {{answer.user}}
        </p>
      </div>
      {{/each}}
    </div>
</div>
